ul {
  list-style: none;
}

.list__item {
  padding: 8px 16px;
  background-color: rgb(125, 129, 133);
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.action {
  display: flex;
  gap: 5px;
}
.list__item .button {
  padding: 4px 8px;
}
